footer.ftco-footer.ftco-bg-dark.ftco-section
    div.container
        div.row.mb-5
            div.col-md
                div.ftco-footer-widget.mb-4
                    h2.ftco-heading-2 Team Legday
                    p The best way to predict the future is to create it.
                    ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-3
                        li.ftco-animate: a(href='#') #[span.icon-twitter]
                        li.ftco-animate: a(href='#') #[span.icon-facebook]
                        li.ftco-animate: a(href='#') #[span.icon-instagram]
            div.col-md
                div.ftco-footer-widget.mb-4.ml-md-4
                    h2.ftco-heading-2 Links
                    ul.list-unstyled
                        li: a(href="/") #[span.icon-long-arrow-right.mr-2] Home
                        li: a(href="/login") #[span.icon-long-arrow-right.mr-2] Board
            div.col-md
                div.ftco-footer-widget.mb-4
                    h2.ftco-heading-2 Services
                    ul.list-unstyled
                        li: a(href="#") #[span.icon-long-arrow-right.mr-2] Architectural Design
                        li: a(href="#") #[span.icon-long-arrow-right.mr-2] Interior Design
                        li: a(href="#") #[span.icon-long-arrow-right.mr-2] Exterior Design
                        li: a(href="#") #[span.icon-long-arrow-right.mr-2] Lighting Design
                        li: a(href="#") #[span.icon-long-arrow-right.mr-2] AutoCAD Service
            div.col-md
                div.ftco-footer-widget.mb-4
                    h2.ftco-heading-2 Newsletter
                    p Strive for progress, not perfection.
                    <form action="#" class="subscribe-form">
                        div.form-group
                        <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                        <input type="submit" value="Subscribe" class="form-control submit px-3">
        div.row
            div.col-md-12.text-center
            p Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.
            //p Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

    //Built with #[a(href="https://expressjs.com/") Express.js], login powered by #[a(href="https://developer.okta.com/") Okta].