extends layout

block content

  section.home-slider.js-fullheight.owl-carousel.bg-white
    div.slider-item.js-fullheight
      div.overlay
      div.container
        div.row.d-md-flex.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-end(data-scrollax-parent="true")
          div.one-third.order-md-last.img.js-fullheight(style="background-image:url(images/bg_1.jpg);")
            //h3.vr Architecture Firm
          div.one-forth.d-flex.js-fullheight.align-items-center.ftco-animate(data-scrollax=" properties: { translateY: '70%' }")
            div.text
              h1.mb-4 Train<br>Insane Or<br>Remain<br>The Same
              //p A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
              //p #[a.btn.btn-primary.px-4.py-3.mt-3(href="#", text='View our works')]

    div.slider-item.js-fullheight
      div.overlay
      div.container
        div.row.d-flex.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-end(data-scrollax-parent="true")
          div.one-third.order-md-last.img.js-fullheight(style="background-image:url(images/bg_2.jpeg);")
            //h3.vr Since - 2018
          div.one-forth.d-flex.js-fullheight.align-items-center.ftco-animate(data-scrollax=" properties: { translateY: '70%' }")
            div.text
              h1.mb-4 You<br>Don't Have to be<br>Extreme,<br>Just Consistent
              //p A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
              //p #[a.btn.btn-primary.px-4.py-3.mt-3(href="#", text='View our works')]