extends location

block script

  <div class="col-lg-8">
    <div class="row">
      each location in locations
        include location_single_frame.pug
    </div>
    include location_pagebar.pug
  </div>
        
    